.top {
	background-color:white;
	font-family:'Roboto Slab', serif;
}
#name {
	padding-left: 200px;
}
.works,.resume,.github,.linkedin {
	display:inline-block;
	margin:5px 10px 5px 10px;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}

.full {
	background-color: white;
	font-family: 'Roboto Slab', serif;
}

#body_text{
	background-color: white;
	border-radius:5px;
}

.first_para {
    text-align:left;
    font-size: 20px;
}

.second_para {
	text-align:left;
    font-size: 20px;
}







