/* CSS Styling for www.maxyelsky.com */

* {
	color:black;
}
/*top bar*/
.top {
	background-color:white;
	font-family:'Roboto Slab', serif;
}
#name {
	padding-left: 200px;
}

/*to be applied to all links*/
.works,.resume,.github,.linkedin {
	display:inline-block;
	margin: auto 10px auto 10px;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}

.github {
	padding-left:10px;

}
.linkedin{
	padding-left:15px;
}

a, a:hover, a:link {
	text-decoration: inherit;
	color:inherit;
}

.full {
	background-color: white;
	font-family: 'Roboto Slab', serif;
}

#body_text{
	background-color: white;
	border-radius:5px;
}

.first_para {
    text-align:left;
    font-size: 20px;
}

.second_para {
	text-align:left;
    font-size: 20px;
}







